/* General app css */
body {
    background-color: steelblue;
}

h1 {
    color: aliceblue;
    font-size: 60px;
    text-align: center;
}

#locationInput {
    display: block;
    background-color: steelblue;
    color: aliceblue;
    width: 80%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    outline: none;
    border-bottom: 1px aliceblue solid;
    
}

#locationSubmit {
    display: block;
    background-color: aliceblue;
    height: 50px;
    width: 80%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 15px;
}

#locationSubmit:hover {
    background-color: steelblue;
    border: 3px solid;
    border-color: aliceblue;
    color: aliceblue;
}

#repeatCityMessage {
    color: aliceblue;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

ul#cities {
    list-style: none;
    width: 960px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 992px) {
    ul#cities {
        width: 720px;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    ul#cities {
        width: 480px;
        padding: 0;
    }
}

@media screen and (max-width: 576px) {
    ul#cities {
        width: 240px;
        padding: 0;
    }
}

/* City css */
.city {
    display: inline-block;
    position: relative;
    background-color:rgb(207, 233, 255);
    height: 500px;
    width: 220px;
    margin: 10px;
    border: 3px;
    border-radius: 15px;
}

.cityName {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.regionName {
    font-size: 15px;
    text-align: center;
    margin: 5px;
}

.temperature {
    font-size: 40px;
    text-align: center;
    margin: 10px;
}

.conditionImg {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

.conditionText {
    font-size: 15px;
    text-align: center;
    margin: 2px;
}


/* Hourly forecast css */
#hourlyForecast {
    background-color:aliceblue;
    border-radius: 10px;
}

#hourlyForecastTitle {
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 5px;
}

#hourlyForecastData {
    overflow-x: auto;
    white-space: nowrap;
    margin: 5px;
}

.hourObject {
    display: inline-block;
    height: 64px;
    width: 64px;
}

.hour {
    font-size: 12px;
    text-align: center;
    margin: 0;
}

.hourlyForecastImg {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.hourlyTemperature {
    font-size: 12px;
    text-align: center;
    margin: 0;

}

/* Delete button css */
.deleteButton {
    position: absolute;
    bottom: 0;
    background-color: orangered;
    height: 40px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    border: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.deleteButton:hover {
    background-color: aliceblue;
    border: 3px solid;
    border-color: orangered;
    color: orangered;
    
}