/* General app css */
body {
    background-color: rgb(44, 91, 129);
}

h1 {
    color: aliceblue;
    font-size: 60px;
    text-align: center;
}

#locationInput {
    display: block;
    background-color: rgb(44, 91, 129);
    color: aliceblue;
    width: 80%;
    font-size: 20px;
    margin: 10px auto 10px auto;
    border: none;
    outline: none;
    border-bottom: 1px aliceblue solid;
    
}

#locationSubmit {
    display: block;
    background-color: aliceblue;
    height: 50px;
    width: 80%;
    font-size: 20px;
    margin: 10px auto 10px auto;
    border: none;
    border-radius: 15px;
}

#locationSubmit:hover {
    background-color: rgb(44, 91, 129);
    border: 3px solid;
    border-color: aliceblue;
    color: aliceblue;
}

#repeatCityMessage {
    color: aliceblue;
    width: 80%;
    margin: 10px auto 10px auto;
}

ul#cities {
    list-style: none;
    width: 960px;
    padding: 0;
    margin: 10px auto 10px auto;
}

@media screen and (max-width: 992px) {
    ul#cities {
        width: 720px;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    ul#cities {
        width: 480px;
        padding: 0;
    }
}

@media screen and (max-width: 576px) {
    ul#cities {
        width: 240px;
        padding: 0;
    }
}


/* City css */
.city {
    display: inline-block;
    position: relative;
    background-color:rgb(207, 233, 255);
    height: 550px;
    width: 220px;
    margin: 10px;
    border: 3px;
    border-radius: 15px;
}

.currentWeather {
    margin-bottom: 5px;
}

.cityName {
    font-size: 20px;
    text-align: center;
    margin: 10px 5px 5px 5px;
}

.regionName {
    font-size: 15px;
    text-align: center;
    margin: 5px;
}

.temperature {
    font-size: 40px;
    text-align: center;
    margin: 10px;
}

.conditionImg {
    display: block;
    width: 50%;
    margin: 0px auto 0px auto;
    
}

.conditionText {
    font-size: 15px;
    text-align: center;
    margin: 2px;
}


/* Hourly forecast css */
#hourlyForecast {
    background-color:rgb(144, 203, 255);
    border-radius: 10px;
    margin: 0px 0px 5px 0px;
}

#hourlyForecastTitle {
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 5px;
}

#hourlyForecastData {
    overflow-x: auto;
    white-space: nowrap;
    padding: 5px;
}

.hourObject {
    display: inline-block;
    height: 64px;
    width: 64px;
}

.hour {
    font-size: 12px;
    text-align: center;
    margin: 0;
}

.hourlyForecastImg {
    display: block;
    height: 48px;
    width: 48px;
    margin: 0px auto 0px auto;
}

.hourlyTemperature {
    font-size: 12px;
    text-align: center;
    margin: 0;

}


/* Three day forecast css */
#threeDayForecast {
    background-color:rgb(144, 203, 255);
    border-radius: 10px;
}

#threeDayForecastTitle {
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 5px;
}

#threeDayForecastData {
    padding: 5px;
}

.dayObject {
    height: 32px;
}

.dayText {
    float: left;
    height: 12px;
    width: 32px;
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 10px 10px 10px 10px;
}

.rangeText {
    float: left;
    height: 12px;
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 10px 10px 10px 10px;
}

.threeDayForecastImg {
    float: left;
    width: 32px;
    height: 32px;
}


/* Delete button css */
.deleteButton {
    position: absolute;
    bottom: 0;
    background-color: rgb(255, 123, 0);
    height: 30px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    border: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.deleteButton:hover {
    background-color: aliceblue;
    border: 3px solid;
    border-color: rgb(255, 123, 0);
    color: rgb(255, 123, 0);
    
}